name: Build and Upload

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Validate Gradle wrapper
      uses: gradle/actions/wrapper-validation@v4

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4
      with:
         gradle-version: 8.9

    - name: Build with Gradle
      run: ./gradlew clean collectJars

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: GeyserUpdater-Jars
        path: dist/*.jar
